<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} | {{ site.name }} {% endblock %}</title>
        <meta name="robots" content="index, follow, all" />
        <meta name="Author" content="Dev idea, RAZAFIMANDIMBY Niaina Michael, balzacLeGeek" />
{% block meta %}{% endblock %}

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
		<!-- Font Awesome Icon -->
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
{% block stylesheets %}{% endblock %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {# Il voulait que la raccompagner ce soir là
        Elle n'a surement rien de la maîtresse cachée
        ni lui d'un mari volage non 
        "Nous n'avons rien fait ça nous est tombé dessus comme ça ...
        enfin quoi? ça pourai être l'amour"

        Les choses ont été si soudaine que personne ne veut y croire mais
        Les évènements s'enchainent et beaucoup de gens vont soufrir


        "Dieu a fait une erreur le jour où il t'a fait belle" #}

    </head>
    <body>
        <!-- Header -->
		
        {% include "components/header.html.twig" %}

        <!-- /Header -->

        {% block body %}{% endblock %}

        <!-- Footer -->
        
        {% include "components/footer.html.twig" %}
        
		<!-- /Footer -->

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
	</body>
</html>