<li><a href="{{ path('index') }}">{{ 'menu.home'|trans }}</a></li>
<li><a href="">{{ 'menu.tutorials'|trans }}</a></li>
<li><a href="{{ path('about') }}">{{ 'menu.about'|trans }}</a></li>
<li><a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>